body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  padding: 40px 40px 40px 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

/* Main content */
.main-content {
  padding: 88px;
}

/* About me */

.my-profession {
  margin-bottom: 18px;
}

h2 {
  font-size: 35px;
}

.project-items {
  background-color: yellow;
}

/* Sidebar */

.sidebar {
  width: 370px;
  background: #e0ebfe;
}
.my-photo {
  margin-top: 40px;
}
.contacts-conteiner,
.tech-skills-container {
  margin: 48px 0 0 40px;
}
.Soft-skills-container{
  margin: 48px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}
/* Contacts */

.contacts-type{
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161D2A;
}

.contacts-item{
  margin: 0;
}
.contacts-number{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161D2A
}
.contacts-email{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979FF
}